.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    z-index: 1000;

    background: var(--glass-bg);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-bottom: 1px solid var(--glass-border);
}

.nav-container {
    max-width: 1320px;
    height: 100%;
    margin: 0 auto;
    padding: 0 28px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.nav-logo span {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--text-main);
    font-style: italic;
    text-shadow: 0 0 10px rgba(255, 0, 51, 0.5);
}

/* LINKS */
.nav-links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-links li a {
    position: relative;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--text-muted);
    font-family: "Inter", sans-serif;
    transition: color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* underline animation */
.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: var(--secondary-color);
    box-shadow: 0 0 8px var(--secondary-color);
    transition: width 0.3s ease;
}

.nav-links li a:hover {
    color: var(--text-main);
}

.nav-links li a:hover::after {
    width: 100%;
}